= simple_form_for @list, :html => { :class => 'form-horizontal' } do |f|

  .form-group
    = f.label :name, :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :name, autofocus: true, :class => 'form-control'
    = error_span(@list[:name])
  .form-group
    = f.label :description, :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.text_area :description, :class => 'form-control', :style => "height:125px;"
    = error_span(@list[:description])
    = f.hidden_field :user_id, :value => current_user.id

  .form-group
    = f.label "Share with ...", :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.collection_select :user_ids, User.all_except(current_user), :id, :full_name, {}, {:multiple => true, :class => 'form-control', 'style' => 'height:250px;'} 
    
    
  .actions.col-sm-offset-2
    .col-sm-4
      = f.submit "Create", :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), lists_path, :class => 'btn btn-default'
