%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active
    = @list.name


%div{:id => "goals_area"}
  - if @list.goals.count < 1
    = render :partial => 'no_goals.html.haml'
  - else
    = render :partial => 'goals_table.html.haml', :locals => {:goals => @list.goals}
    
= render :partial => 'goal_modal.html.haml'



:javascript

  
  $(function() {
    $('#goals_toggle').click(function()
    {
      $('#goalModal').modal('toggle');
    }
     );
     
     });


  $(document).on('hidden.bs.modal', function (e) {
    $(e.target).removeData('bs.modal');
  });
