$("#priority-button-#{id}").html("#{j render(:partial => 'areas/priority_button', :locals => {:area_id => id})}");
$("#td_priority_#{id}").attr("data-value", "#{priority}");
$("#td_priority_#{id}").parent('tr').attr("data-priority", "#{priority}");
$("#priority-button-#{id}").effect("bounce",500);
$("#area_status_#{id}").html("#{j render(:partial => 'areas/status_field', :locals => {:area_id => id})}");
$("#area_status_#{id}").attr("data-value", "#{area.support_status}");
$("#area_burden_#{id}").attr("data-value", "#{area.burden}");
