= form_for @goal do |f|
  - if @goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:"
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :team_id
    = f.number_field :team_id
  .field
    = f.label :priority
    = f.number_field :priority
  .field
    = f.label :support
    = f.number_field :support
  .field
    = f.label :effort
    = f.number_field :effort
  .actions
    = f.submit 'Save'
