- if can? :manage, @goal
  = simple_form_for @goal, :html => { :class => 'form-horizontal' } do |f|

    .form-group
      = f.label :name, :class => 'col-sm-2 control-label'
      .col-sm-4
        = f.text_field :name, autofocus: true, :class => 'form-control'
        = error_span(@goal[:name])
    .form-group
      = f.label :description, :class => 'col-sm-2 control-label'
      .col-sm-4
        = f.text_area :description, :class => 'form-control', :style => "height:125px;"
        .help-block
          %i (You can use Markdown here.)

        = error_span(@goal[:description])
    = f.hidden_field :user_id, :value => current_user.id

   
    .actions.col-sm-offset-2
      .col-sm-4
        = f.submit "Save", :class => 'btn btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), lists_path, :class => 'btn btn-default'

