= form_for(@goal, :html => {:class => "form-horizontal"} ) do |f|
  - if @goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:"
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg
  .row
    .form-group
      = f.label :name, :class => 'col-sm-2 control-label'
      .col-sm-4
        = f.text_field :name, autofocus: true, :class => 'form-control'

  .row
    .form-group
      = f.label :Team, :class => 'col-sm-2 control-label'
      .col-sm-4
        = f.collection_select :team_id, Team.all, :id, :name, {}, {:class => 'form-control'}

  .row
    .form-group
      = f.label :list, :class => 'col-sm-2 control-label'
      .col-sm-4
        = f.collection_select :list_id, List.all, :id, :name, {}, {:class => 'form-control'}

  .row
    %br    
    .actions
      = f.submit 'Save', :class => 'btn btn-primary'
