- goal.health == 0 ? row_data = "unknown" : row_data = "known"

%tr{:id => "goal_row_#{goal.id}", "data-value" => row_data }

  - if params[:action] == "all_goals"
    %td{:id => "goal_list_#{goal.id}", "data-value" => goal.list.name}
      = link_to goal.list.name, goal.list
  
  %td{:id => "goal_health_#{goal.id}", "data-value" => goal.health }
    = health_indicator(goal)
  
  %td{"data-value" => goal.name, :id => "goal_name_#{goal.id}"}
    = link_to goal.name, goal

  %td{"data-value" => goal.priority, :id => "td_priority_#{goal.id}"}
    %div{:id => "priority-button-#{goal.id}"}
      = render :partial => "goals/priority_button", :locals => {:goal => goal, :list => @list}
           
  %td{"data-value" => goal.support, :id => "td_goal_support_#{goal.id}"}
    %div{:id => "support_button-#{goal.id}"}
      = render :partial => "goals/support_button", :locals => {:goal => goal, :list => @list}

  %td{"data-value" => goal.effort, :id => "td_goal_effort_#{goal.id}"}
    %div{:id => "effort_button-#{goal.id}"}
      = render :partial => "goals/effort_button", :locals => {:goal => goal, :list => @list}
  
  - if can? :manage, @list
    %td{:id => "td_destroy_#{goal.id}"}
      = link_to edit_goal_path(goal), :class => "text-default" do
        %span.glyphicon.glyphicon-pencil
      &nbsp;&nbsp;
      = link_to goal_path(goal),  :method => :delete, :remote => true, :data =>  { confirm: "Really delete #{goal.name}?" }, :class => "text-danger" do
        %span.glyphicon.glyphicon-remove


