%p#notice= notice

%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to @goal.list.name, @goal.list
  %li.active
    = @goal.name
  - if can? :manage, @goal 
    %li
      = link_to edit_goal_path(@goal) do
        Edit
    
%h2
  = @goal.name

-# some day users may come back
-# - if @area.users.count > 0 
-#   %p.text-muted
-#     %span.glyphicon.glyphicon-user
-#     != @area.users.collect {|user| link_to user.handle, user}.to_sentence
  
!= @goal.rendered_description


%hr

%h3
  = "Goals Similar to #{@goal.name}"
.col-md-3
  %h4
    != "#{display_label(@goal.priority, 'Priority')}"
  %ul.list-unstyled
    - Goal.all_except(@goal).priority(@goal.priority, @goal.list).each do |a|
      %li
        = link_to a.name, a
    
.col-md-3
  %h4
    != "#{display_label(@goal.health, 'Health')}"
  %ul.list-unstyled
    - Goal.all_except(@goal).health(@goal.health, @goal.list).each do |a|
      %li
        = link_to a.name, a

.col-md-3
  %h4
    != "#{burden_label(@goal)}"
  %ul.list-unstyled
    - Goal.all_except(@goal).cost(@goal.burden, @goal.list).each do |g|
      %li
        = link_to g.name, g

.col-md-3
  %h4
    != "#{display_label(@goal.effort, 'Effort')}"
  %ul.list-unstyled
    - Goal.all_except(@goal).effort(@goal.effort, @goal.list).each do |a|
      %li
        = link_to a.name, a
